.FilmLibrary {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
  justify-content: space-around;
}

.FilmLibrary .film-list {
  position: relative;
  flex: 1 0 33.333333%;
  height: 100%;
  padding: 3.6em 0 0;
  overflow-y: scroll;
  background-color: #f0f0f0;
}

.FilmLibrary .film-list>.section-title {
  width: 33.333333%;
  left: 0;
}

.FilmLibrary .film-details {
  flex: 0 1 66.666666%;
  background-color: #f0f0f0;
}

.FilmLibrary .section-title {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #777;
  color: white;
  text-align: center;
  font-size: 0.75em;
  padding: 0.5em;
  margin: 0 0 0.1em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.FilmLibrary .film-list-filters {
  position: fixed;
  top: 1.6em;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 33.333333%;
}

.FilmLibrary .film-list-filter {
  flex-grow: 1;
  background-color: #bbb;
  color: white;
  text-align: center;
  font-size: 0.75em;
  font-weight: bold;
  padding: 0.5em;
  margin: 0 0 0.1em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  border: none;
}

.FilmLibrary .film-list-filter:hover {
  background-color: hsl(177, 70%, 46%);
}

.FilmLibrary .film-list-filter:active {
  background-color: rgb(40, 205, 197);
}

.FilmLibrary .film-list-filter.is-active {
  background-color: lightseagreen;
}

.FilmLibrary .film-list a {
  text-decoration: none;
  color: black;
}

.FilmLibrary .section-count {
  display: inline-block;
  background-color: white;
  color: black;
  text-align: center;
  padding: 0.25em 0.25em 0.25em 0.5em;
  border-radius: 20%;
  margin-left: 0.5em;
  font-weight: bold;
}

.FilmLibrary .film-details {
  position: relative;
  overflow-y: scroll;
}

.FilmLibrary .film-details>.section-title {
  left: 33.333333%;
  width: 66.666666%;
}